<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"  />
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <title>KWJ-blog</title>
{% seo %}
  </head>
  <body class="pos-rel">
    <header>
        <nav class="pos-rel css-nav">
            <ul class="no-bg css-menu-ul">
                <li class="active">Home</li>
                <li>Working</li>
                <li>Life</li>
                <li>About</li>
            </ul>
            <span class="css-menu-span">{{ site.description | default: site.github.project_tagline }}</span>
        </nav>
    </header>

    <div class="container css-cnt">
      <section id="main_content"> 
        {{ content }}
      </section>
    </div>

    <footer>
        <div class="css-foot-content">
                <a href="{{ site.github.repository_url }}" class="btn btn-github"><span class="icon"></span>View on GitHub</a>
        </div>
    </footer>
  </body>
</html>